<div class="comments">

<%= book.book_comments.count %>:comments
<% book.book_comments.each do |book_comment| %>
  <%= link_to user_path(book_comment.user)  do %>
  <p><%= attachment_image_tag(book_comment.user, :profile_image, :fill, 50, 50, fallback: "no-image-icon.jpg") %></p>
    <% end %>
  <%= book_comment.user.name %>
  <%= book_comment.created_at.strftime('%Y%m%d') %>
  <%= book_comment.comment %>
   <% if book_comment.user == current_user %>
  <div id="comment-delete_<% @book.id%>">
    <%= link_to "delete", book_book_comment_path(book_comment.book,book_comment), method: :delete, remote: true , class: 'js-delete-comment-button', data: {confirm: 'よろしいですか'} %>
  </div>
    <% end %>

  <% end %>
</div>